body {
  padding: 0;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  padding: 15px;
  position: relative; }

.container {
  width: 190px;
  background: #6eb004;
  color: white; }

form {
  margin-bottom: 0; }

.form_wrapper {
  -webkit-transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out; }
  .form_wrapper.fade {
    opacity: 0.2; }

.form_hide {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  .form_hide.fade {
    opacity: 0; }

#image {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  line-height: 128px;
  height: 130px;
  display: block;
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out; }
  #image.hover {
    opacity: 0.5; }
  #image.start {
    background-color: rgba(255, 255, 255, 0.2); }
  #image.found {
    border: 0; }

#picture, #origin {
  display: none; }

.sep {
  clear: both;
  overflow: hidden;
  margin-top: 15px; }
  .sep.picture {
    margin-top: 0; }

input, label, select, textarea {
  float: left;
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  color: white; }

input, select, textarea {
  margin-top: 4px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  background: none;
  height: 35px;
  padding: 0 10px; }

label {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 6px; }

select {
  opacity: 1; }

textarea {
  padding: 5px 10px;
  height: 100px;
  line-height: 20px;
  resize: none; }

#price {
  width: 75%; }

#currency {
  width: 20%;
  margin-left: 5%;
  text-align: center; }

.submit, .success {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 190px;
  z-index: 100; }

#submit {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 45px;
  line-height: 43px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }
  #submit:hover {
    background: white;
    color: #6eb004; }

.error {
  border-color: #ba1f01;
  color: #ba1f01; }
