# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

_assets/css/.sass-cache
_include/conn.php
_assets/images/wishes
_assets/images/profile
.htaccess
