RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# SESSION
RewriteRule ^register/?$ account/register/index.php [L]
RewriteRule ^register/facebook/?$ account/register/facebook.php [L]
RewriteRule ^login/?$ account/login/index.php [L]
RewriteRule ^login/facebook/?$ account/login/facebook.php [L]
RewriteRule ^logout/?$ account/logout/index.php [L]

# USERS
RewriteRule ^([a-z0-9-_]+)/settings/?$ edit/user/index.php?user=$1 [L]
RewriteRule ^([a-z0-9-_]+)/?$ view/user/index.php?user=$1 [L]

# WISHLISTS
RewriteRule ^([a-z0-9-_]+)/wishlist/add/?$ add/wishlist/index.php?user=$1 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/edit/?$ edit/wishlist/index.php?user=$1&wishlist=$2 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/remove/?$ remove/wishlist/index.php?user=$1&wishlist=$2 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/?$ view/wishlist/index.php?user=$1&wishlist=$2 [L]

# WISHES
RewriteRule ^([a-z0-9-_]+)/wish/add/?$ add/wish/index.php?user=$1&wishlist=$2 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/([0-9]+)/edit/?$ edit/wish/index.php?user=$1&wishlist=$2&wish=$3 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/([0-9]+)/remove/?$ remove/wish/index.php?user=$1&wishlist=$2&wish=$3 [L]
RewriteRule ^([a-z0-9-_]+)/([a-z0-9-_]+)/([0-9]+)/?$ view/wish/index.php?user=$1&wishlist=$2&wish=$3 [L]