html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*!
 * Grid from Bootstrap v3.0.3
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  margin-left: -15px;
  margin-right: -15px; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666666666666%; }

.col-xs-10 {
  width: 83.33333333333334%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666666666666%; }

.col-xs-7 {
  width: 58.333333333333336%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666666666667%; }

.col-xs-4 {
  width: 33.33333333333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.666666666666664%; }

.col-xs-1 {
  width: 8.333333333333332%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666666666666%; }

.col-xs-pull-10 {
  right: 83.33333333333334%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666666666666%; }

.col-xs-pull-7 {
  right: 58.333333333333336%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666666666667%; }

.col-xs-pull-4 {
  right: 33.33333333333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.666666666666664%; }

.col-xs-pull-1 {
  right: 8.333333333333332%; }

.col-xs-pull-0 {
  right: 0%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666666666666%; }

.col-xs-push-10 {
  left: 83.33333333333334%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666666666666%; }

.col-xs-push-7 {
  left: 58.333333333333336%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666666666667%; }

.col-xs-push-4 {
  left: 33.33333333333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.666666666666664%; }

.col-xs-push-1 {
  left: 8.333333333333332%; }

.col-xs-push-0 {
  left: 0%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666666666666%; }

.col-xs-offset-10 {
  margin-left: 83.33333333333334%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666666666666%; }

.col-xs-offset-7 {
  margin-left: 58.333333333333336%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666666666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.666666666666664%; }

.col-xs-offset-1 {
  margin-left: 8.333333333333332%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666666666666%; }

  .col-sm-10 {
    width: 83.33333333333334%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666666666666%; }

  .col-sm-7 {
    width: 58.333333333333336%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666666666667%; }

  .col-sm-4 {
    width: 33.33333333333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.666666666666664%; }

  .col-sm-1 {
    width: 8.333333333333332%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666666666666%; }

  .col-sm-pull-10 {
    right: 83.33333333333334%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666666666666%; }

  .col-sm-pull-7 {
    right: 58.333333333333336%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666666666667%; }

  .col-sm-pull-4 {
    right: 33.33333333333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.666666666666664%; }

  .col-sm-pull-1 {
    right: 8.333333333333332%; }

  .col-sm-pull-0 {
    right: 0%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666666666666%; }

  .col-sm-push-10 {
    left: 83.33333333333334%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666666666666%; }

  .col-sm-push-7 {
    left: 58.333333333333336%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666666666667%; }

  .col-sm-push-4 {
    left: 33.33333333333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.666666666666664%; }

  .col-sm-push-1 {
    left: 8.333333333333332%; }

  .col-sm-push-0 {
    left: 0%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666666666666%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333333334%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666666666666%; }

  .col-sm-offset-7 {
    margin-left: 58.333333333333336%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666666666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.666666666666664%; }

  .col-sm-offset-1 {
    margin-left: 8.333333333333332%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666666666666%; }

  .col-md-10 {
    width: 83.33333333333334%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666666666666%; }

  .col-md-7 {
    width: 58.333333333333336%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666666666667%; }

  .col-md-4 {
    width: 33.33333333333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.666666666666664%; }

  .col-md-1 {
    width: 8.333333333333332%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666666666666%; }

  .col-md-pull-10 {
    right: 83.33333333333334%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666666666666%; }

  .col-md-pull-7 {
    right: 58.333333333333336%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666666666667%; }

  .col-md-pull-4 {
    right: 33.33333333333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.666666666666664%; }

  .col-md-pull-1 {
    right: 8.333333333333332%; }

  .col-md-pull-0 {
    right: 0%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666666666666%; }

  .col-md-push-10 {
    left: 83.33333333333334%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666666666666%; }

  .col-md-push-7 {
    left: 58.333333333333336%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666666666667%; }

  .col-md-push-4 {
    left: 33.33333333333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.666666666666664%; }

  .col-md-push-1 {
    left: 8.333333333333332%; }

  .col-md-push-0 {
    left: 0%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666666666666%; }

  .col-md-offset-10 {
    margin-left: 83.33333333333334%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666666666666%; }

  .col-md-offset-7 {
    margin-left: 58.333333333333336%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666666666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.666666666666664%; }

  .col-md-offset-1 {
    margin-left: 8.333333333333332%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666666666666%; }

  .col-lg-10 {
    width: 83.33333333333334%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666666666666%; }

  .col-lg-7 {
    width: 58.333333333333336%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666666666667%; }

  .col-lg-4 {
    width: 33.33333333333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.666666666666664%; }

  .col-lg-1 {
    width: 8.333333333333332%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666666666666%; }

  .col-lg-pull-10 {
    right: 83.33333333333334%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666666666666%; }

  .col-lg-pull-7 {
    right: 58.333333333333336%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666666666667%; }

  .col-lg-pull-4 {
    right: 33.33333333333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.666666666666664%; }

  .col-lg-pull-1 {
    right: 8.333333333333332%; }

  .col-lg-pull-0 {
    right: 0%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666666666666%; }

  .col-lg-push-10 {
    left: 83.33333333333334%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666666666666%; }

  .col-lg-push-7 {
    left: 58.333333333333336%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666666666667%; }

  .col-lg-push-4 {
    left: 33.33333333333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.666666666666664%; }

  .col-lg-push-1 {
    left: 8.333333333333332%; }

  .col-lg-push-0 {
    left: 0%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666666666666%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333333334%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666666666666%; }

  .col-lg-offset-7 {
    margin-left: 58.333333333333336%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666666666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.666666666666664%; }

  .col-lg-offset-1 {
    margin-left: 8.333333333333332%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
@-ms-viewport {
  width: device-width; }

.visible-xs,
tr.visible-xs,
th.visible-xs,
td.visible-xs {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-xs.visible-sm {
    display: block !important; }

  table.visible-xs.visible-sm {
    display: table; }

  tr.visible-xs.visible-sm {
    display: table-row !important; }

  th.visible-xs.visible-sm,
  td.visible-xs.visible-sm {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-xs.visible-md {
    display: block !important; }

  table.visible-xs.visible-md {
    display: table; }

  tr.visible-xs.visible-md {
    display: table-row !important; }

  th.visible-xs.visible-md,
  td.visible-xs.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-xs.visible-lg {
    display: block !important; }

  table.visible-xs.visible-lg {
    display: table; }

  tr.visible-xs.visible-lg {
    display: table-row !important; }

  th.visible-xs.visible-lg,
  td.visible-xs.visible-lg {
    display: table-cell !important; } }
.visible-sm,
tr.visible-sm,
th.visible-sm,
td.visible-sm {
  display: none !important; }

@media (max-width: 767px) {
  .visible-sm.visible-xs {
    display: block !important; }

  table.visible-sm.visible-xs {
    display: table; }

  tr.visible-sm.visible-xs {
    display: table-row !important; }

  th.visible-sm.visible-xs,
  td.visible-sm.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-sm.visible-md {
    display: block !important; }

  table.visible-sm.visible-md {
    display: table; }

  tr.visible-sm.visible-md {
    display: table-row !important; }

  th.visible-sm.visible-md,
  td.visible-sm.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-sm.visible-lg {
    display: block !important; }

  table.visible-sm.visible-lg {
    display: table; }

  tr.visible-sm.visible-lg {
    display: table-row !important; }

  th.visible-sm.visible-lg,
  td.visible-sm.visible-lg {
    display: table-cell !important; } }
.visible-md,
tr.visible-md,
th.visible-md,
td.visible-md {
  display: none !important; }

@media (max-width: 767px) {
  .visible-md.visible-xs {
    display: block !important; }

  table.visible-md.visible-xs {
    display: table; }

  tr.visible-md.visible-xs {
    display: table-row !important; }

  th.visible-md.visible-xs,
  td.visible-md.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-md.visible-sm {
    display: block !important; }

  table.visible-md.visible-sm {
    display: table; }

  tr.visible-md.visible-sm {
    display: table-row !important; }

  th.visible-md.visible-sm,
  td.visible-md.visible-sm {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-md.visible-lg {
    display: block !important; }

  table.visible-md.visible-lg {
    display: table; }

  tr.visible-md.visible-lg {
    display: table-row !important; }

  th.visible-md.visible-lg,
  td.visible-md.visible-lg {
    display: table-cell !important; } }
.visible-lg,
tr.visible-lg,
th.visible-lg,
td.visible-lg {
  display: none !important; }

@media (max-width: 767px) {
  .visible-lg.visible-xs {
    display: block !important; }

  table.visible-lg.visible-xs {
    display: table; }

  tr.visible-lg.visible-xs {
    display: table-row !important; }

  th.visible-lg.visible-xs,
  td.visible-lg.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg.visible-sm {
    display: block !important; }

  table.visible-lg.visible-sm {
    display: table; }

  tr.visible-lg.visible-sm {
    display: table-row !important; }

  th.visible-lg.visible-sm,
  td.visible-lg.visible-sm {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-lg.visible-md {
    display: block !important; }

  table.visible-lg.visible-md {
    display: table; }

  tr.visible-lg.visible-md {
    display: table-row !important; }

  th.visible-lg.visible-md,
  td.visible-lg.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
.hidden-xs {
  display: block !important; }

table.hidden-xs {
  display: table; }

tr.hidden-xs {
  display: table-row !important; }

th.hidden-xs,
td.hidden-xs {
  display: table-cell !important; }

@media (max-width: 767px) {
  .hidden-xs,
  tr.hidden-xs,
  th.hidden-xs,
  td.hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs.hidden-sm,
  tr.hidden-xs.hidden-sm,
  th.hidden-xs.hidden-sm,
  td.hidden-xs.hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs.hidden-md,
  tr.hidden-xs.hidden-md,
  th.hidden-xs.hidden-md,
  td.hidden-xs.hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-xs.hidden-lg,
  tr.hidden-xs.hidden-lg,
  th.hidden-xs.hidden-lg,
  td.hidden-xs.hidden-lg {
    display: none !important; } }
.hidden-sm {
  display: block !important; }

table.hidden-sm {
  display: table; }

tr.hidden-sm {
  display: table-row !important; }

th.hidden-sm,
td.hidden-sm {
  display: table-cell !important; }

@media (max-width: 767px) {
  .hidden-sm.hidden-xs,
  tr.hidden-sm.hidden-xs,
  th.hidden-sm.hidden-xs,
  td.hidden-sm.hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm,
  tr.hidden-sm,
  th.hidden-sm,
  td.hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-sm.hidden-md,
  tr.hidden-sm.hidden-md,
  th.hidden-sm.hidden-md,
  td.hidden-sm.hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-sm.hidden-lg,
  tr.hidden-sm.hidden-lg,
  th.hidden-sm.hidden-lg,
  td.hidden-sm.hidden-lg {
    display: none !important; } }
.hidden-md {
  display: block !important; }

table.hidden-md {
  display: table; }

tr.hidden-md {
  display: table-row !important; }

th.hidden-md,
td.hidden-md {
  display: table-cell !important; }

@media (max-width: 767px) {
  .hidden-md.hidden-xs,
  tr.hidden-md.hidden-xs,
  th.hidden-md.hidden-xs,
  td.hidden-md.hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md.hidden-sm,
  tr.hidden-md.hidden-sm,
  th.hidden-md.hidden-sm,
  td.hidden-md.hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md,
  tr.hidden-md,
  th.hidden-md,
  td.hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-md.hidden-lg,
  tr.hidden-md.hidden-lg,
  th.hidden-md.hidden-lg,
  td.hidden-md.hidden-lg {
    display: none !important; } }
.hidden-lg {
  display: block !important; }

table.hidden-lg {
  display: table; }

tr.hidden-lg {
  display: table-row !important; }

th.hidden-lg,
td.hidden-lg {
  display: table-cell !important; }

@media (max-width: 767px) {
  .hidden-lg.hidden-xs,
  tr.hidden-lg.hidden-xs,
  th.hidden-lg.hidden-xs,
  td.hidden-lg.hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-lg.hidden-sm,
  tr.hidden-lg.hidden-sm,
  th.hidden-lg.hidden-sm,
  td.hidden-lg.hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg.hidden-md,
  tr.hidden-lg.hidden-md,
  th.hidden-lg.hidden-md,
  td.hidden-lg.hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg,
  tr.hidden-lg,
  th.hidden-lg,
  td.hidden-lg {
    display: none !important; } }
.visible-print,
tr.visible-print,
th.visible-print,
td.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; }

  .hidden-print,
  tr.hidden-print,
  th.hidden-print,
  td.hidden-print {
    display: none !important; } }
@font-face {
  font-family: Entypo;
  font-weight: normal;
  font-style: normal;
  src: url("/_assets/fonts/entypo.eot");
  src: url("/_assets/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/_assets/fonts/entypo.woff") format("woff"), url("/_assets/fonts/entypo.ttf") format("truetype"), url("/_assets/fonts/entypo.svg#Entypo") format("svg"); }

.entypo.phone .icon:before {
  content: '\1F4DE'; }

.entypo.mobile .icon:before {
  content: '\1F4F1'; }

.entypo.mouse .icon:before {
  content: '\E789'; }

.entypo.address .icon:before {
  content: '\E723'; }

.entypo.mail .icon:before {
  content: '\2709'; }

.entypo.paper-plane .icon:before {
  content: '\1F53F'; }

.entypo.pencil .icon:before {
  content: '\270E'; }

.entypo.feather .icon:before {
  content: '\2712'; }

.entypo.attach .icon:before {
  content: '\1F4CE'; }

.entypo.inbox .icon:before {
  content: '\E777'; }

.entypo.reply .icon:before {
  content: '\E712'; }

.entypo.reply-all .icon:before {
  content: '\E713'; }

.entypo.forward .icon:before {
  content: '\27A6'; }

.entypo.user .icon:before {
  content: '\1F464'; }

.entypo.users .icon:before {
  content: '\1F465'; }

.entypo.add-user .icon:before {
  content: '\E700'; }

.entypo.vcard .icon:before {
  content: '\E722'; }

.entypo.export .icon:before {
  content: '\E715'; }

.entypo.location .icon:before {
  content: '\E724'; }

.entypo.map .icon:before {
  content: '\E727'; }

.entypo.compass .icon:before {
  content: '\E728'; }

.entypo.direction .icon:before {
  content: '\27A2'; }

.entypo.hair-cross .icon:before {
  content: '\1F3AF'; }

.entypo.share .icon:before {
  content: '\E73C'; }

.entypo.shareable .icon:before {
  content: '\E73E'; }

.entypo.heart .icon:before {
  content: '\2665'; }

.entypo.heart-empty .icon:before {
  content: '\2661'; }

.entypo.star .icon:before {
  content: '\2605'; }

.entypo.star-empty .icon:before {
  content: '\2606'; }

.entypo.thumbs-up .icon:before {
  content: '\1F44D'; }

.entypo.thumbs-down .icon:before {
  content: '\1F44E'; }

.entypo.chat .icon:before {
  content: '\E720'; }

.entypo.comment .icon:before {
  content: '\E718'; }

.entypo.quote .icon:before {
  content: '\275E'; }

.entypo.home .icon:before {
  content: '\2302'; }

.entypo.popup .icon:before {
  content: '\E74C'; }

.entypo.search .icon:before {
  content: '\1F50D'; }

.entypo.flashlight .icon:before {
  content: '\1F526'; }

.entypo.print .icon:before {
  content: '\E716'; }

.entypo.bell .icon:before {
  content: '\1F514'; }

.entypo.link .icon:before {
  content: '\1F517'; }

.entypo.flag .icon:before {
  content: '\2691'; }

.entypo.cog .icon:before {
  content: '\2699'; }

.entypo.tools .icon:before {
  content: '\2692'; }

.entypo.trophy .icon:before {
  content: '\1F3C6'; }

.entypo.tag .icon:before {
  content: '\E70C'; }

.entypo.camera .icon:before {
  content: '\1F4F7'; }

.entypo.megaphone .icon:before {
  content: '1F4E3'; }

.entypo.moon .icon:before {
  content: '\0045'; }

.entypo.palette .icon:before {
  content: '\1F3A8'; }

.entypo.leaf .icon:before {
  content: '\1F342'; }

.entypo.note .icon:before {
  content: '\266A'; }

.entypo.beamed-note .icon:before {
  content: '\266B'; }

.entypo.new .icon:before {
  content: '\1F4A5'; }

.entypo.graduation-cap .icon:before {
  content: '\1F393'; }

.entypo.book .icon:before {
  content: '\1F4D5'; }

.entypo.newspaper .icon:before {
  content: '\1F4F0'; }

.entypo.bag .icon:before {
  content: '\1F45C'; }

.entypo.airplane .icon:before {
  content: '\2708'; }

.entypo.lifebuoy .icon:before {
  content: '\E788'; }

.entypo.eye .icon:before {
  content: '\E70A'; }

.entypo.clock .icon:before {
  content: '\1F554'; }

.entypo.mic .icon:before {
  content: '\1F3A4'; }

.entypo.calendar .icon:before {
  content: '\1F4C5'; }

.entypo.flash .icon:before {
  content: '\26A1'; }

.entypo.thunder-cloud .icon:before {
  content: '\26C8'; }

.entypo.droplet .icon:before {
  content: '\1F4A7'; }

.entypo.cd .icon:before {
  content: '\1F4BF'; }

.entypo.briefcase .icon:before {
  content: '\1F4BC'; }

.entypo.air .icon:before {
  content: '\1F4A8'; }

.entypo.hourglass .icon:before {
  content: '\23F3'; }

.entypo.gauge .icon:before {
  content: '\1F6C7'; }

.entypo.language .icon:before {
  content: '\1F394'; }

.entypo.network .icon:before {
  content: '\E776'; }

.entypo.key .icon:before {
  content: '\1F511'; }

.entypo.battery .icon:before {
  content: '\1F50B'; }

.entypo.bucket .icon:before {
  content: '\1F4FE'; }

.entypo.magnet .icon:before {
  content: '\E7A1'; }

.entypo.drive .icon:before {
  content: '\1F4FD'; }

.entypo.cup .icon:before {
  content: '\2615'; }

.entypo.rocket .icon:before {
  content: '\1F680'; }

.entypo.brush .icon:before {
  content: '\E79A'; }

.entypo.suitcase .icon:before {
  content: '\1F6C6'; }

.entypo.traffic-cone .icon:before {
  content: '\1F6C8'; }

.entypo.globe .icon:before {
  content: '\1F30E'; }

.entypo.keyboard .icon:before {
  content: '\2328'; }

.entypo.browser .icon:before {
  content: '\E74E'; }

.entypo.publish .icon:before {
  content: '\E74D'; }

.entypo.progress-3 .icon:before {
  content: '\E76B'; }

.entypo.progress-2 .icon:before {
  content: '\E76A'; }

.entypo.progress-1 .icon:before {
  content: '\E769'; }

.entypo.progress-0 .icon:before {
  content: '\E768'; }

.entypo.light-down .icon:before {
  content: '\1F505'; }

.entypo.light-up .icon:before {
  content: '\1F506'; }

.entypo.adjust .icon:before {
  content: '\25D1'; }

.entypo.code .icon:before {
  content: '\E714'; }

.entypo.monitor .icon:before {
  content: '\1F4BB'; }

.entypo.infinity .icon:before {
  content: '\221E'; }

.entypo.light-bulb .icon:before {
  content: '\1F4A1'; }

.entypo.credit-card .icon:before {
  content: '\1F4B3'; }

.entypo.database .icon:before {
  content: '\1F4F8'; }

.entypo.voicemail .icon:before {
  content: '\2707'; }

.entypo.clipboard .icon:before {
  content: '\1F4CB'; }

.entypo.cart .icon:before {
  content: '\E73D'; }

.entypo.box .icon:before {
  content: '\1F4E6'; }

.entypo.ticket .icon:before {
  content: '\1F3AB'; }

.entypo.rss .icon:before {
  content: '\E73A'; }

.entypo.signal .icon:before {
  content: '\1F4F6'; }

.entypo.thermometer .icon:before {
  content: '\1F4FF'; }

.entypo.water .icon:before {
  content: '\1F4A6'; }

.entypo.sweden .icon:before {
  content: '\F601'; }

.entypo.line-graph .icon:before {
  content: '\1F4C8'; }

.entypo.pie-chart .icon:before {
  content: '\25F4'; }

.entypo.bar-graph .icon:before {
  content: '\1F4CA'; }

.entypo.area-graph .icon:before {
  content: '\1F53E'; }

.entypo.lock .icon:before {
  content: '\1F512'; }

.entypo.lock-open .icon:before {
  content: '\1F513'; }

.entypo.logout .icon:before {
  content: '\E741'; }

.entypo.login .icon:before {
  content: '\E740'; }

.entypo.check .icon:before {
  content: '\2713'; }

.entypo.cross .icon:before {
  content: '\274C'; }

.entypo.squared-minus .icon:before {
  content: '\229F'; }

.entypo.squared-plus .icon:before {
  content: '\229E'; }

.entypo.squared-cross .icon:before {
  content: '\274E'; }

.entypo.circled-minus .icon:before {
  content: '\2296'; }

.entypo.circled-plus .icon:before {
  content: '\2295'; }

.entypo.circled-cross .icon:before {
  content: '\2716'; }

.entypo.minus .icon:before {
  content: '\2796'; }

.entypo.plus .icon:before {
  content: '\2795'; }

.entypo.erase .icon:before {
  content: '\232B'; }

.entypo.block .icon:before {
  content: '\1F6AB'; }

.entypo.info .icon:before {
  content: '\2139'; }

.entypo.circled-info .icon:before {
  content: '\E705'; }

.entypo.help .icon:before {
  content: '\2753'; }

.entypo.circled-help .icon:before {
  content: '\E704'; }

.entypo.warning .icon:before {
  content: '\26A0'; }

.entypo.cycle .icon:before {
  content: '\1F504'; }

.entypo.cw .icon:before {
  content: '\27F3'; }

.entypo.ccw .icon:before {
  content: '\27F2'; }

.entypo.shuffle .icon:before {
  content: '\1F500'; }

.entypo.back .icon:before {
  content: '\1F519'; }

.entypo.level-down .icon:before {
  content: '\21B3'; }

.entypo.retweet .icon:before {
  content: '\E717'; }

.entypo.loop .icon:before {
  content: '\1F501'; }

.entypo.back-in-time .icon:before {
  content: '\E771'; }

.entypo.level-up .icon:before {
  content: '\21B0'; }

.entypo.switch .icon:before {
  content: '\21C6'; }

.entypo.numbered-list .icon:before {
  content: '\E005'; }

.entypo.add-to-list .icon:before {
  content: '\E003'; }

.entypo.layout .icon:before {
  content: '\268F'; }

.entypo.list .icon:before {
  content: '\2630'; }

.entypo.text-doc .icon:before {
  content: '\1F4C4'; }

.entypo.text-doc-inverted .icon:before {
  content: '\E731'; }

.entypo.doc .icon:before {
  content: '\E730'; }

.entypo.docs .icon:before {
  content: '\E736'; }

.entypo.landscape-doc .icon:before {
  content: '\E737'; }

.entypo.picture .icon:before {
  content: '\1F304'; }

.entypo.video .icon:before {
  content: '\1F3AC'; }

.entypo.music .icon:before {
  content: '\1F3B5'; }

.entypo.folder .icon:before {
  content: '\1F4C1'; }

.entypo.archive .icon:before {
  content: '\E800'; }

.entypo.trash .icon:before {
  content: '\E729'; }

.entypo.upload .icon:before {
  content: '\1F4E4'; }

.entypo.download .icon:before {
  content: '\1F4E5'; }

.entypo.save .icon:before {
  content: '\1F4BE'; }

.entypo.install .icon:before {
  content: '\E778'; }

.entypo.cloud .icon:before {
  content: '\2601'; }

.entypo.upload-cloud .icon:before {
  content: '\E711'; }

.entypo.bookmark .icon:before {
  content: '\1F516'; }

.entypo.bookmarks .icon:before {
  content: '\1F4D1'; }

.entypo.open-book .icon:before {
  content: '\1F4D6'; }

.entypo.play .icon:before {
  content: '\25B6'; }

.entypo.paus .icon:before {
  content: '\2016'; }

.entypo.record .icon:before {
  content: '\25CF'; }

.entypo.stop .icon:before {
  content: '\25A0'; }

.entypo.ff .icon:before {
  content: '\23E9'; }

.entypo.fb .icon:before {
  content: '\23EA'; }

.entypo.to-start .icon:before {
  content: '\23EE'; }

.entypo.to-end .icon:before {
  content: '\23ED'; }

.entypo.resize-full .icon:before {
  content: '\E744'; }

.entypo.resize-small .icon:before {
  content: '\E746'; }

.entypo.volume .icon:before {
  content: '\23F7'; }

.entypo.sound .icon:before {
  content: '\1F50A'; }

.entypo.mute .icon:before {
  content: '\1F507'; }

.entypo.flow-cascade .icon:before {
  content: '\1F568'; }

.entypo.flow-branch .icon:before {
  content: '\1F569'; }

.entypo.flow-tree .icon:before {
  content: '\1F56A'; }

.entypo.flow-line .icon:before {
  content: '\1F56B'; }

.entypo.flow-parallel .icon:before {
  content: '\1F56C'; }

.entypo.left-bold .icon:before {
  content: '\E4AD'; }

.entypo.down-bold .icon:before {
  content: '\E4B0'; }

.entypo.up-bold .icon:before {
  content: '\E4AF'; }

.entypo.right-bold .icon:before {
  content: '\E4AE'; }

.entypo.left .icon:before {
  content: '\2B05'; }

.entypo.down .icon:before {
  content: '\2B07'; }

.entypo.up .icon:before {
  content: '\2B06'; }

.entypo.right .icon:before {
  content: '\27A1'; }

.entypo.circled-left .icon:before {
  content: '\E759'; }

.entypo.circled-down .icon:before {
  content: '\E758'; }

.entypo.circled-up .icon:before {
  content: '\E75B'; }

.entypo.circled-right .icon:before {
  content: '\E75A'; }

.entypo.triangle-left .icon:before {
  content: '\25C2'; }

.entypo.triangle-down .icon:before {
  content: '\25BE'; }

.entypo.triangle-up .icon:before {
  content: '\25B4'; }

.entypo.triangle-right .icon:before {
  content: '\25B8'; }

.entypo.chevron-left .icon:before {
  content: '\E75D'; }

.entypo.chevron-down .icon:before {
  content: '\E75C'; }

.entypo.chevron-up .icon:before {
  content: '\E75F'; }

.entypo.chevron-right .icon:before {
  content: '\E75E'; }

.entypo.chevron-small-left .icon:before {
  content: '\E761'; }

.entypo.chevron-small-down .icon:before {
  content: '\E760'; }

.entypo.chevron-small-up .icon:before {
  content: '\E763'; }

.entypo.chevron-small-right .icon:before {
  content: '\E762'; }

.entypo.chevron-thin-left .icon:before {
  content: '\E765'; }

.entypo.chevron-thin-down .icon:before {
  content: '\E764'; }

.entypo.chevron-thin-up .icon:before {
  content: '\E767'; }

.entypo.chevron-thin-right .icon:before {
  content: '\E766'; }

.entypo.left-thin .icon:before {
  content: '\2190'; }

.entypo.down-thin .icon:before {
  content: '\2193'; }

.entypo.up-thin .icon:before {
  content: '\2191'; }

.entypo.right-thin .icon:before {
  content: '\2192'; }

.entypo.arrow-combo .icon:before {
  content: '\E74F'; }

.entypo.three-dots .icon:before {
  content: '\23F6'; }

.entypo.two-dots .icon:before {
  content: '\23F5'; }

.entypo.dot .icon:before {
  content: '\23F4'; }

.entypo.cc .icon:before {
  content: '\1F545'; }

.entypo.cc-by .icon:before {
  content: '\1F546'; }

.entypo.cc-nc .icon:before {
  content: '\1F547'; }

.entypo.cc-nc-eu .icon:before {
  content: '\1F548'; }

.entypo.cc-nc-jp .icon:before {
  content: '\1F549'; }

.entypo.cc-sa .icon:before {
  content: '\1F54A'; }

.entypo.cc-nd .icon:before {
  content: '\1F54B'; }

.entypo.cc-pd .icon:before {
  content: '\1F54C'; }

.entypo.cc-zero .icon:before {
  content: '\1F54D'; }

.entypo.cc-share .icon:before {
  content: '\1F54E'; }

.entypo.cc-remix .icon:before {
  content: '\1F54F'; }

.entypo.db-logo .icon:before {
  content: '\1F5F9'; }

.entypo.db-shape .icon:before {
  content: '\1F5FA'; }

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: white;
  color: #2c2c2c; }

h1, h2, h3 {
  font-family: "ff-tisa-sans-web-pro", sans-serif; }

h2 {
  font-size: 1.875em;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center; }

h3 {
  font-size: 1.25em;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 32px;
  text-align: center; }

p {
  margin: 0 auto 24px;
  font-size: 1em;
  line-height: 24px; }

a {
  display: inline-block;
  color: #2c2c2c;
  font-weight: 600;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: 600; }

.mute {
  opacity: 0.5; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.container {
  position: relative; }

header {
  background: #f4f4f4;
  padding: 50px 0 45px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #e0e0e0; }
  header img {
    border-radius: 100px;
    height: 75px;
    width: auto; }
  header p {
    max-width: 450px; }
  header .button {
    clear: both;
    margin: 0 5px;
    /* &.edit{
    	position: absolute;
    	top: 0;
    	right: 15px;
    } */ }
    header .button a {
      color: #2c2c2c;
      background: white;
      border-color: #2c2c2c; }
      header .button a:hover {
        background: #cacaca; }
      header .button a:active, header .button a .active {
        background: #2c2c2c;
        color: white; }
    header .button span.number {
      color: white;
      background: #2c2c2c; }

.main {
  border-top: 3px solid #7fba00;
  width: 100%;
  float: left;
  background: white;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out; }
  .main.withAside {
    left: -200px;
    width: 85%;
    width: calc(100% - 200px);
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out; }

.content {
  padding: 60px 0; }

.menu {
  text-align: center;
  margin-bottom: 20px; }
  .menu ul {
    display: inline-block;
    border-top: 2px solid #cccccc; }
  .menu li {
    float: left;
    padding: 10px 20px 0;
    border-top: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875em;
    margin-top: -2px;
    color: #b2b2b2;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out; }
    .menu li.active {
      border-color: #7fba00;
      color: #2c2c2c; }
      .menu li.active:hover {
        border-color: #7fba00;
        color: #2c2c2c; }
    .menu li:hover {
      color: #2c2c2c; }

.intro {
  margin-bottom: 60px; }
  .intro h2 {
    margin-bottom: 4px; }
  .intro h2 + p {
    text-align: center;
    max-width: 450px; }
  .intro .button {
    position: absolute;
    top: 0;
    right: 15px; }
    .intro .button a {
      color: #2c2c2c;
      background: white;
      border-color: #2c2c2c; }
      .intro .button a:hover {
        background: #cacaca; }
      .intro .button a:active, .intro .button a .active {
        background: #2c2c2c;
        color: white; }
    .intro .button span.number {
      color: white;
      background: #2c2c2c; }

aside {
  width: 15%;
  width: calc(200px);
  float: right;
  position: fixed;
  top: 0;
  padding: 10px;
  bottom: 0;
  right: -200px;
  overflow: scroll;
  background: #2c2c2c;
  -webkit-transition: right 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out; }
  aside div {
    height: 200vh;
    width: 100%;
    opacity: 0;
    color: white;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  aside.show {
    right: 0; }
    aside.show div {
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-in-out 0.4s;
      -moz-transition: opacity 0.2s ease-in-out 0.4s;
      transition: opacity 0.2s ease-in-out 0.4s; }

.button {
  overflow: hidden;
  letter-spacing: 1px;
  font-family: "freight-sans-pro", sans-serif;
  display: inline-block; }
  .button a {
    text-transform: uppercase;
    border-radius: 2px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 0.9375em;
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }
  .button span {
    padding: 8px 13px 6px; }
    .button span.title {
      float: left; }
    .button span.number {
      float: right;
      text-align: center;
      font-weight: 500; }
  .button > .entypo {
    font-weight: 400; }
    .button > .entypo span {
      padding-left: 12px;
      padding-right: 12px; }

.icon {
  font-family: "Entypo";
  font-size: 2.625em;
  speak: none;
  text-transform: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon + .title {
    position: absolute;
    top: -9999px;
    left: -9999px; }

#register_login .register h1, #register_login .login h1, #register_login .logged h1, #register_login .logout h1 {
  margin-top: 60px; }
#register_login .register label, #register_login .login label, #register_login .logged label, #register_login .logout label {
  margin-top: 20px;
  display: block; }
  #register_login .register label:first-of-type, #register_login .login label:first-of-type, #register_login .logged label:first-of-type, #register_login .logout label:first-of-type {
    margin-top: 0; }
#register_login .register input, #register_login .login input, #register_login .logged input, #register_login .logout input {
  display: block;
  width: 60%;
  line-height: 20px; }
  #register_login .register input[type=submit], #register_login .login input[type=submit], #register_login .logged input[type=submit], #register_login .logout input[type=submit] {
    margin-top: 20px; }
    #register_login .register input[type=submit] a, #register_login .login input[type=submit] a, #register_login .logged input[type=submit] a, #register_login .logout input[type=submit] a {
      color: white;
      background: black;
      border-color: white; }
      #register_login .register input[type=submit] a:hover, #register_login .login input[type=submit] a:hover, #register_login .logged input[type=submit] a:hover, #register_login .logout input[type=submit] a:hover {
        background: #3f3f3f; }
      #register_login .register input[type=submit] a:active, #register_login .register input[type=submit] a .active, #register_login .login input[type=submit] a:active, #register_login .login input[type=submit] a .active, #register_login .logged input[type=submit] a:active, #register_login .logged input[type=submit] a .active, #register_login .logout input[type=submit] a:active, #register_login .logout input[type=submit] a .active {
        background: white;
        color: black; }
    #register_login .register input[type=submit] span.number, #register_login .login input[type=submit] span.number, #register_login .logged input[type=submit] span.number, #register_login .logout input[type=submit] span.number {
      color: black;
      background: white; }

.user.view header, .wishlist.add header {
  padding-bottom: 45px; }
  .user.view header a, .wishlist.add header a {
    margin-bottom: 20px; }

.user.view .content {
  padding-bottom: 30px; }
.user.view .menu + .wishlists {
  margin-top: 40px; }
.user.view .wishlists {
  margin-top: 50px; }
  .user.view .wishlists li.private {
    display: none; }
.user.view .wishlist, .user.view .add {
  display: block;
  height: 100%;
  width: 100%;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .user.view .wishlist .cover, .user.view .add .cover {
    display: block;
    height: 250px;
    background-size: cover;
    background-position: center center; }
  .user.view .wishlist h4, .user.view .add h4 {
    font-size: 1.0625em;
    line-height: 49px;
    height: 48px;
    overflow: hidden; }
  .user.view .wishlist > a, .user.view .add > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .user.view .wishlist .button, .user.view .add .button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .user.view .wishlist .button a, .user.view .add .button a {
      color: #2c2c2c;
      background: white;
      border-color: #2c2c2c; }
      .user.view .wishlist .button a:hover, .user.view .add .button a:hover {
        background: #cacaca; }
      .user.view .wishlist .button a:active, .user.view .wishlist .button a .active, .user.view .add .button a:active, .user.view .add .button a .active {
        background: #2c2c2c;
        color: white; }
    .user.view .wishlist .button span.number, .user.view .add .button span.number {
      color: white;
      background: #2c2c2c; }
  .user.view .wishlist:hover .button, .user.view .add:hover .button {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  .user.view .wishlist:hover h4, .user.view .add:hover h4 {
    text-decoration: underline; }
  .user.view .wishlist .lock, .user.view .add .lock {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.875em;
    opacity: 0.5; }
.user.view .add {
  border-style: dashed;
  border-color: #e0e0e0;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
  .user.view .add .cover {
    height: 298px; }
  .user.view .add .icon {
    font-size: 6.25em;
    line-height: 300px;
    color: #b2b2b2; }
  .user.view .add:hover {
    background: #f4f4f4; }

.wishlist.view .wish, .wishlist.view .add {
  display: block;
  overflow: hidden;
  width: 100%;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .wishlist.view .wish img, .wishlist.view .add img {
    width: 100%;
    height: auto;
    display: block; }
  .wishlist.view .wish .infos, .wishlist.view .add .infos {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  .wishlist.view .wish .top, .wishlist.view .add .top {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px; }
  .wishlist.view .wish h4, .wishlist.view .add h4 {
    font-size: 1.125em;
    line-height: 24px;
    text-align: left;
    font-weight: 600; }
  .wishlist.view .wish p, .wishlist.view .add p {
    margin-bottom: 0;
    text-align: left;
    font-weight: 500; }
    .wishlist.view .wish p.price, .wishlist.view .add p.price {
      color: #7fba00; }
    .wishlist.view .wish p.origin, .wishlist.view .add p.origin {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 12px;
      color: #b2b2b2;
      font-size: 0.875em; }
  .wishlist.view .wish > a, .wishlist.view .add > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .wishlist.view .wish:hover .infos, .wishlist.view .add:hover .infos {
    opacity: 1; }
  .wishlist.view .wish .lock, .wishlist.view .add .lock {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.875em;
    opacity: 0.5; }
.wishlist.view .add {
  border-style: dashed;
  border-color: #e0e0e0;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out; }
  .wishlist.view .add .cover {
    height: 298px; }
  .wishlist.view .add .icon {
    font-size: 6.25em;
    line-height: 300px;
    color: #b2b2b2; }
  .wishlist.view .add:hover {
    background: #f4f4f4; }

.add form .error, .edit form .error {
  border-color: #2c2c2c !important;
  text: white !important; }
.add form .error_block, .edit form .error_block {
  background: #2c2c2c;
  color: white;
  padding: 20px;
  margin-bottom: 20px; }
  .add form .error_block p, .edit form .error_block p {
    margin-bottom: 10px; }
  .add form .error_block li, .edit form .error_block li {
    list-style: disc;
    margin-left: 20px;
    line-height: 24px; }
.add form label, .edit form label {
  line-height: 30px; }
.add form input[type=text], .add form input[type=url], .add form input[type=file], .add form textarea, .add form select, .edit form input[type=text], .edit form input[type=url], .edit form input[type=file], .edit form textarea, .edit form select {
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  line-height: 20px;
  font-size: 16px;
  background: none;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.add form input[type=text], .add form input[type=url], .add form textarea, .add form select, .edit form input[type=text], .edit form input[type=url], .edit form textarea, .edit form select {
  padding: 5px;
  border: 2px solid #e0e0e0;
  border-radius: 2px; }
.add form .file_cont, .edit form .file_cont {
  height: 200px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  position: relative;
  text-align: center; }
  .add form .file_cont span, .edit form .file_cont span {
    font-size: 6.25em;
    line-height: 200px;
    color: #b2b2b2; }
  .add form .file_cont input, .edit form .file_cont input {
    opacity: 0;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    cursor: pointer; }
.add form textarea, .edit form textarea {
  min-height: 150px;
  max-width: 100%; }
