a.button{
	font-family: $freight;
	text-transform: uppercase;
	font-size: em(15);
	border: 1px solid $gray20;
	border-radius: 2px;
	color: $gray40;
	line-height: 38px;
	padding: 0 20px;
	letter-spacing: 1px;
	@include transition(color 0.2s ease-in-out, background 0.2s ease-in-out);

	&:hover{
		background: $white;
		color: $black;
		text-decoration: none;
	}

	&.register{
		border-color: $green;
		color: $green;

		&:hover{
			background: $green;
			color: $white;
		}
	}
}