.add, .edit{

	form{

		.error{
			border-color: $black !important;
			text: $white !important;
		}

		.error_block{
			background: $black;
			color: $white;
			padding: 20px;
			margin-bottom: 20px;

			p{
				margin-bottom: 10px;
			}

			li{
				list-style: disc;
				margin-left: 20px;
				line-height: $lh * 1.2;
			}
		}

		label{
			line-height: $lh + 10;
		}

		input[type=text], input[type=url], input[type=file], textarea, select{
			width: 100%;
			font-family: $body;
			line-height: $lh;
			font-size: $fs;
			background: none;
			margin-bottom: 20px;
			@include transition(all 0.2s ease-in-out);
		}

		input[type=text], input[type=url], textarea, select{
			padding: 5px;
			border: 2px solid $gray12;
			border-radius: 2px;
		}

		.file_cont{
			height: 200px;
			border: 2px solid $gray12;
			border-radius: 2px;
			position: relative;
			text-align: center;

			span{
				font-size: em(100);
				line-height: $lh * 10;
				color: $gray30;
			}

			input{
				opacity: 0;
				height: 200px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background: black;
			}
		}

		textarea{
			min-height: 150px;
			max-width: 100%;
		}
	}
}

.add{

	&.wishlist{

	}

	&.wish{

	}
}

.edit{

	&.wishlist{

	}

	&.wish{
		
	}
}