.add, .edit{

	form{

		label{
			line-height: $lh + 10;
		}

		input[type=text], input[type=url], input[type=file], textarea, select{
			width: 100%;
			font-family: $body;
			line-height: $lh;
			font-size: $fs;
			background: none;
			margin-bottom: 20px;
		}

		input[type=text], input[type=url], textarea, select{
			padding: 5px;
			border: 2px solid $gray12;
			border-radius: 2px;
		}

		input[type=file]{
			height: 200px;
		}

		textarea{
			min-height: 150px;
			max-width: 100%;
		}
	}
}

.add{

	&.wishlist{

	}

	&.wish{

	}
}

.edit{

	&.wishlist{

	}

	&.wish{
		
	}
}