#landing, #register, #login{
	border-top: 3px solid $green;

	.container{
		max-width: 1000px;
	}

	header{
		background: $gray4;
		padding: 24px 0;
		border-bottom: 1px solid $gray12;
		margin-bottom: 80px;

		.logo{

			a{
				float: left;
			}

			img{
				display: block;
				width: 75px;
				height: auto;
			}
		}

		.actions{
			text-align: right;
			padding: 18px 0;

			.button{
				font-size: em(14);
			}
		}
	}
}

#landing{

	.intro{
		text-align: center;

		h2{
			margin-bottom: 20px;
		}

		p{
			font-size: em(18);
			color: $gray50;
			line-height: $lh * 1.2;
		}

		a.button{
			margin-top: 32px;
		}
	}

	.cover{
		margin: 30px auto 60px;
		width: 100%;
		height: auto;
		max-width: 1200px;
		display: block;
	}

	.features{
		text-align: center;
		overflow: hidden;

		h3{
			font-size: em(18);
			line-height: $lh * 1.2;
			text-transform: uppercase;
			padding: 0 75px 20px;
			border-bottom: 1px solid $gray12;
			display: inline-block;
			margin-bottom: 50px;
		}

		li{
			margin-bottom: 40px;

			img{
				
			}

			h4{
				font-family: $tisa;
				font-weight: 600;
				font-size: em(14);
				line-height: $lh * 1.2;
				text-transform: uppercase;
				color: $gray50;
				margin: 15px 0 10px;
				letter-spacing: 1px;
			}

			p{
				line-height: $lh * 1.2;

				a{
					color: $gray50;
				}
			}
		}

		.button{
			margin: 20px auto 0;
			border-width: 2px;
			padding: 0 35px;
			line-height: $lh * 2.5;
		}
	}

	footer{
		overflow: hidden;
		margin: 100px auto 30px;
		padding-top: 30px;
		border-top: 1px solid $gray12;

		li{

			&:first-child{
				text-align: left;
			}

			&:last-child{
				text-align: right;
			}
		}
	}

}