#landing, #register, #login{
	border-top: 3px solid $green;

	.container{
		max-width: 1000px;
	}

	header{
		background: $gray4;
		padding: 24px 0;
		border-bottom: 1px solid $gray12;
		margin-bottom: 80px;

		.logo{

			a{
				float: left;
			}

			img{
				display: block;
				width: 75px;
				height: auto;
			}
		}
	}
}

#landing{

	header{

		.actions{
			text-align: right;
			padding-top: 18px;

			.button{
				font-size: em(14);
			}
		}

		.register{
			margin-right: 14px;
		}
	}

	.intro{
		text-align: center;

		h2{
			margin-bottom: 20px;
		}

		p{
			font-size: em(18);
			color: $gray50;
			line-height: $lh * 1.2;
		}

		a.button{
			margin-top: 32px;
		}
	}

	.cover{
		margin: 30px auto 60px;
		width: 100%;
		height: auto;
		max-width: 1200px;
		display: block;
	}

	.features{
		text-align: center;
		overflow: hidden;

		h3{
			font-size: em(18);
			line-height: $lh * 1.2;
			text-transform: uppercase;
			padding: 0 75px 20px;
			border-bottom: 1px solid $gray12;
			display: inline-block;
			margin-bottom: 50px;
		}

		li{
			margin-bottom: 40px;

			img{
				
			}

			h4{
				font-family: $tisa;
				font-weight: 600;
				font-size: em(14);
				line-height: $lh * 1.2;
				text-transform: uppercase;
				color: $gray50;
				margin: 15px 0 10px;
				letter-spacing: 1px;
			}

			p{
				line-height: $lh * 1.2;

				a{
					color: $gray50;
				}
			}
		}
	}

	footer{
		overflow: hidden;
		margin: 100px auto 30px;
		padding-top: 30px;
		border-top: 1px solid $gray12;

		li{

			&:first-child{
				text-align: left;
			}

			&:last-child{
				text-align: right;
			}
		}
	}

	@media screen and (min-width: 768px){

		.features{

			.button{
				margin: 20px auto 0;
				border-width: 2px;
				padding: 13px 35px;
				line-height: $lh * 1.2;
			}
		}
	}

	@media screen and (max-width: 767px){

		header{
			margin-bottom: 40px;

			.logo{
				overflow: hidden;
				text-align: center;

				a{
					float: none;
				}
			}

			.actions{
				text-align: center;
			}
		}

		.intro{
			margin-bottom: 40px;

			a.button{
				margin-top: 24px;
			}
		}

		.cover{
			display: none;
		}

		.features{
		
			h3{
				display: none;
			}

			li{
				margin-bottom: 24px;
			}

			a.button{
				border-width: 1px;
			}
		}

		footer{
			margin-top: 50px;
			padding-top: 24px;

			li{

				&:last-child{
					display: none;
				}
			}
		}
	}

}