body{
	font-family: $body;
	font-weight: 400;
	font-size: 100%;
	line-height: $lh;
	background: $white;
	color: $black;
}

h1, h2, h3{
	font-family: $title;
}

h2{
	font-size: em(30);
	line-height: $lh * 1.8;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
	padding: 0 100px;
}

p{
	font-size: em(16);
	line-height: $lh * 1.2;
}

a{
	display: inline-block;
	color: $black;
	font-weight: 600;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: 600;
}

.mute{
	color: $gray50;
}

.hidden{
	display: none;
}

.clearfix{
	@include clearfix;
}

.container-fluid{
	position: relative;
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto;
}

.v_align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


// MAIN

.main{
	border-top: 3px solid $green;
	width: 100%;
	float: left;
	background: $white;
	overflow: auto;
	padding-bottom: 20px;
	@include transition(width 0.2s ease-in-out);
}


// HEADER

.main > header{
	background: $gray4;
	padding: 50px 0 45px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid $gray12;

	img{
		border-radius: 100px;
		height: 75px;
		width: auto;
	}

	p{
		max-width: 450px;
		margin: 0 auto;
	}

	.button{
		@include button($black, $white);
		clear: both;
		margin: 0 5px;
	}
}


// NAV

nav{

	div{
		position: absolute;
		top: 10px;
		z-index: 10;
	}

	#logo{
		left: 10px;
		background: #7FBA00;

		a{
			text-indent: -9999px;
			width: 65px;
			height: 65px;
			background-image: url(../images/logo.png);
			background-size: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			@include hidpi(1.5){
				background-image: url(../images/logo_square.png);
			}
		}
	}

	[class^="icon-"]{
		width: 40px;
		line-height: 55px;
		font-size: 20px;
		color: $gray50;
		display: block;
		cursor: pointer;
		@include transition(color 0.2s ease-in-out);

		&:hover{
			color: $black;
		}
	}

	#settings{
		right: 60px;
	}

	ul.settings-list{
		text-align: left;
		display: none;
		position: absolute;
		top: 52px;
		right: 60px;
		z-index: 100;
		background: white;
		border: 2px solid $gray12;
		border-radius: 2px;
		font-weight: 600;

		li{
			border-bottom: 1px solid $gray12;

			&:last-child{
				border-bottom: 0;
			}
		}

		a{
			padding: 10px 18px 8px;
			font-size: em(15);
			width: 100%;
		}

		&.show{
			display: block;
		}
	}

	#show_hide{
		right: 20px;
	}
}


// CONTENT

.content{
	padding: 50px 0;
	overflow: hidden;

	aside{
		width: 20%;
		width: calc(280px);

		.pod{
			margin-bottom: 10px;
			clear: both;
		}

		ul, .cont{
			margin-top: 16px;
		}

		header{
			padding: 0 15px;
			border-bottom: 1px solid $gray12;
			font-size: em(16);
			overflow: hidden;

			h4{
				line-height: 60px;
				font-weight: 600;
				font-family: $tisa;
				text-transform: uppercase;
				float: left;
			}

			a.icon, span{
				float: right;
				line-height: 60px;
				font-size: em(16);
				font-weight: 600;
				color: $gray20;
			}
		}
	}

	.heart{
		width: 80%;
		width: calc(100% - 280px);
		padding-left: 25px;

		.action{
			padding: 0 15px;

			p{
				margin-bottom: 0;
			}

			a{
				float: right;
				line-height: 60px;
				text-align: right;
				color: $gray30;
				font-family: $tisa;
				font-weight: 600;
				font-size: em(14);
				text-transform: uppercase;

				&.green{
					color: $green;
				}
			}

			.icon{
				margin-left: 6px;
				font-size: em(18);
				position: relative;
				top: 1px;
			}
		}
	}
}


// FEED

body.withAside{

	.main{
		position: relative;
		width: 85%;
		width: calc(100% - 230px);
		@include transition(width 0.2s ease-in-out);
	}
}

aside.feed{
	width: 15%;
	width: calc(230px);
	float: right;
	position: fixed;
	top: 0;
	padding: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: $black;
	overflow: hidden;
	@include transition(right 0.2s ease-in-out);

	.container{
		width: 100%;
		position: relative;
		color: $white;
		padding: 0;
	}

	.title{
		line-height: 24px;
		font-family: $freight;
		font-size: em(17);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0;
		padding: 28px 15px 28px 55px;
	}

	.wrapper{
		width: 100%;
		overflow: auto;
		@include transition(opacity 0.3s ease-in-out);
	}

	.item{
		color: $white;
		background: $black;
		display: block;
		overflow: hidden;
		padding: 12px 15px;
		@include transition(background 0.2s ease-in-out);

		.user{
			float: left;
			width: 40px;
			padding-right: 12px;

			img{
				height: 28px;
				width: 28px;
				border-radius: 28px;
				margin-top: 4px;
			}
		}

		.content{
			padding: 0 !important;
			float: left;
			width: 160px;
			font-smoothing: antialiased;

			p{
				margin: 0;
				font-weight: 500;
			}

			strong{
				font-weight: 600;
			}

			.picture{
				height: 100px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				width: 100%;
				border-radius: 2px;
				margin-top: 12px;
			}
		}

		&:hover{
			background: $gray75;
		}
	}
}


// FOOTER

footer{
	text-align: center;
	color: $gray30;
	font-size: em(14);
	overflow: hidden;
	clear: both;

	a{
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}
}


// DEV

.beta{
	text-align: center;
	width: 100%;

	p{
		margin: 10px 0;
		line-height: $lh * 1.2;
	}
}