body{
	font-family: $body;
	font-weight: 400;
	font-size: $fs;
	line-height: $lh;
	background: $white;
	color: $black;
}

h1, h2, h3{
	font-family: $title;
}

h2{
	font-size: em(30);
	line-height: $lh * 1.8;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
	padding: 0 100px;
}

h3{
	font-size: em(20);
	line-height: $lh;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 32px;
	text-align: center;
}

p{
	margin: 0 auto $lh * 1.2;
	font-size: em(16);
	line-height: $lh * 1.2;
}

a{
	display: inline-block;
	color: $black;
	font-weight: 600;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: 600;
}

hr{
	margin-top: 40px;
	background-color: $gray4;
	border: 1px solid $gray4;
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.mute{
	opacity: 0.5;
}

.clearfix{
	@include clearfix;
}

.container{
	position: relative;
}

.v_align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


// HEADER

header{
	background: $gray4;
	padding: 50px 0 45px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid $gray12;

	img{
		border-radius: 100px;
		height: 75px;
		width: auto;
	}

	p{
		max-width: 450px;
	}

	.button{
		@include button($black, $white);
		clear: both;
		margin: 0 5px;
	}
}


// MAIN

.main{
	border-top: 3px solid $green;
	width: 100%;
	float: left;
	background: $white;
	@include transition(width 0.2s ease-in-out);

	&.withAside{
		left: -200px;
		width: 85%;
		width: calc(100% - 200px);
		@include transition(width 0.2s ease-in-out);
	}
}

.content{
	padding: 60px 0;
}

.menu{
	text-align: center;
	margin-bottom: 20px;

	ul{
		display: inline-block;
		border-top: 2px solid $gray20;
	}

	li{
		float: left;
		padding: 10px 20px 0;
		border-top: 2px solid transparent;
		text-transform: uppercase;
		font-weight: 600;
		font-size: em(14);
		margin-top: -2px;
		color: $gray30;
		cursor: pointer;
		@include transition(color 0.2s ease-in-out, border 0.2s ease-in-out);

		&.active{
			border-color: $green;
			color: $black;

			&:hover{
				border-color: $green;
				color: $black;
			}
		}

		&:hover{
			color: $black;
		}
	}
}

.intro{
	margin-bottom: 60px;

	h2{
		margin-bottom: 4px;
	}

	h2 + p{
		text-align: center;
		max-width: 450px;
	}

	.button{
		@include button($black, $white);
		position: absolute;
		top: 0;
		right: 15px;
	}
}


// ASIDE

aside{
	width: 15%;
	width: calc(200px);
	float: right;
	position: fixed;
	top: 0;
	padding: 10px;
	bottom: 0;
	right: -200px;
	overflow: scroll;
	background: $black;
	@include transition(right 0.2s ease-in-out);

	div{
		height: 200vh;
		width: 100%;
		opacity: 0;
		color: $white;
		@include transition(opacity 0.2s ease-in-out);
	}

	&.show{
		right: 0;

		div{
			opacity: 1;
			@include transition(opacity 0.2s ease-in-out 0.4s);
		}
	}
}