body{
	font-family: $ff;
	font-weight: $regular;
	font-size: $fs;
	line-height: $lh;
}

h2{
	font-size: em(35);
	line-height: $lh * 1.8;
	font-weight: $medium;
}

h3{
	font-size: em(25);
	line-height: $lh * 1.25;
	margin-bottom: 32px;
}

a{
	display: inline-block;
	color: $black;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: $semibold;
}

.clearfix{
	@include clearfix;
}

.container{
	position: relative;
}

.content{
	padding: 60px 0;
}

.button{
	overflow: hidden;
	letter-spacing: 1px;

	a{
		text-transform: uppercase;
		border-radius: 2px;
		font-weight: $medium;
		font-size: em(14);
		@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out);
	}

	span{
		padding: 9px 15px 7px;

		&.title{
			float: left;
		}

		&.number{
			float: right;
		}
	}

	& > .entypo{
		font-weight: $regular;

		span{
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.icon{
	font-family: "Entypo";
	font-size: em(42);
	speak: none;
	text-transform: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	& + .title{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}


// HEADER

body > header{
	background: $green;

	.button{
		@include button($white, $green);
	}

	nav, #tools, #logo{
		margin: 55px 0;
	}

	nav{
		float: left;
		position: absolute;
		top: 0;
		left: 15px;
		overflow: hidden;
	}

	#tools{
		position: absolute;
		top: 0;
		right: 15px;
		overflow: hidden;

		li{
			display: inline-block;
			margin-left: 10px;

			&:first-child{
				margin-left: 0
			}
		}
	}

	#logo{
		text-align: center;
		margin: 40px auto;
		overflow: hidden;

		span{
			display: inline-block;
			height: 70px;
			width: 250px;
			background: white;
		}
	}
}


// SUBHEADER

.subheader{
	background: $gray5;
	padding: 40px 0;

	.heading{
		float: left;

		img{
			float: left;
			border-radius: 2px;
		}

		.infos{
			float: left;
			margin-top: 9px;
			margin-left: 30px;
		}

		h2{
			margin-bottom: 5px;
		}

		p{
			float: left;
		}

		a{
			font-weight: $medium;
		}

		.tags{
			float: left;

			li{
				float: left;

				&:before{
					content: ', ';
				}

				&:last-child{
					margin-left: 0;

					&:before{
						content: '\00a0&\00a0';
					}
				}

				&:first-child{
					
					&:before{
						content: '\00a0';
					}
				}
			}
		}
	}

	.actions{
		float: right;

		.button{
			@include button($black, $white);
			margin-top: 20px;
			float: left;
			margin-left: 10px;

			&:first-of-type{
				margin-left: 0;
			}
		}
	}
}