#register, #login{

	header{
		margin-bottom: 30px;

		.logo a{
			width: 100%;

			img{
				margin: 0 auto;
			}
		}
	}

	h2{

		small{
			font-family: $proxima;
			font-weight: 500;
			font-size: 17px;
			text-transform: none;
			color: $gray40;
			letter-spacing: 0;
			line-height: 20px;
		}
	}

	.facebook, .sep, form{
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	.facebook, .sep{
		display: block;
	}

	.facebook{
		margin-top: 50px;
		margin-bottom: 50px;
		display: block;
		background: #3B579D;
		color: white;
		border-radius: 2px;
		padding-left: 30px;
		padding-right: 10px;
		@include transition(background 0.2s ease-in-out);

		span.text{
			display: inline-block;
			height: 50px;
			line-height: 52px;
			width: 100%;
			padding-left: 12px;
			text-align: center;
			background: url(../images/facebook.png) no-repeat left center;
			background-size: 12px 21px;
			@include hidpi(1.5){
				background-image: url(../images/facebook@2x.png);
			}
			font-weight: 500;

			strong{
				font-weight: 600;
			}
		}

		&:hover{
			background: darken(#3B579D, 8%);
			position: relative;
			top: 1px;
		}
	}

	p.sep{
		text-align: center;
		text-transform: uppercase;
		font-family: $tisa;
		font-size: em(12);
		border-top: 1px solid $gray12;
		position: relative;
		line-height: $lh * 1.5;

		span{
			background: white;
			position: relative;
			top: -$lh * 0.75;
			line-height: $lh * 0.75;
			padding: 0 15px;
		}
	}

	p.change{
		text-align: center;
		margin-top: 24px;
		margin-bottom: 0;

		a{
			font-weight: 500;
			color: $gray30;
		}
	}

	form{
		margin-top: 14px;
	}

	@media screen and (max-width: 767px){

		header{
			margin-bottom: 0;
		}

		.content{
			padding: 40px 0;
		}

		.facebook{
			margin-top: 24px;
			margin-bottom: 30px;
		}

		form{
			margin-top: 0;
		}
	}
}