.user.view, .wishlist.add, .wishlist.edit{

	header{
		padding-bottom: 45px;

		a.user{
			margin-bottom: 20px;
		}
	}
}

.user.view{

	p.description{
		margin-bottom: 12px;
	}

	h2 + .button{
		margin-top: 8px;
	}

	.follow{

		a{

			&:hover{
				border-color: $green;
				background: $green;
				color: $white;
			}
		}

		&.following{

			a{

				&:hover{
					background: $red;
					border-color: $red;
					color: $white;
				}
			}
		}
	}

	.follow_stats{
		font-weight: 600;
		margin-bottom: 0;

		a{
			font-weight: 600;
		}
	}

	.content{
		padding-bottom: 30px;
	}

	.menu + .wishlists{
		margin-top: 40px;
	}

	.wishlists, .wishes{
		margin-top: 50px;

		li{

			&.private{
				/* display: none; */
			}
		}
	}

	h3:nth-of-type(2){
		margin-top: 60px;
	}
}