.wish.view{

	.container-fluid{
		max-width: 1200px;
	}

	.content{

		aside{

			.icon_cont{

				span{
					top: 8px;
				}
			}

			.information, .actions{

				.cont{

				}

				p{
					padding: 0 15px;
					line-height: 36px;
					margin-bottom: 0;
				}
			}

			.information{

				a{
					font-weight: 600;
					color: $green;
				}
			}

			.actions{

				p{
					line-height: 34px;
				}

				a{
					color: $gray30;
					font-family: $tisa;
					font-weight: 600;
					font-size: em(14);
					text-transform: uppercase;

					&.green{
						color: $green;
					}

					span{
						font-size: em(18);
						margin-right: 8px;
					}

					&:hover{

						span{
							text-decoration: none;
						}
					}
				}

				p.remove{

					.icon-close{
						font-size: em(20);
					}

					&:hover{

						a{
							color: $red;
						}
					}
				}

				p.share{

					&:hover{

						a{
							color: $green;
						}
					}
				}

			}
		}

		.heart{
			margin-top: 16px;

			.current_wish{

				img{
					width: 100%;
					height: auto;
					border-radius: 2px;
					border: 1px solid $gray12;
				}

				.picture{
					@include transition(opacity 0.2s ease-in-out);

					&:hover{
						opacity: 0.8;

						p{
							opacity: 1;
						}

						a{
							text-decoration: none;
						}
					}

					p{
						opacity: 0;
						margin-right: 12px;
						font-size: em(13);
						color: $gray30;
						line-height: $lh * 0.7;
						@include transition(opacity 0.2s ease-in-out);
					}
				}

				.title{
					margin-bottom: 20px;
				}

				h3{
					font-size: em(24);
					line-height: $lh * 1.4;
					font-weight: 700;
					text-transform: uppercase;
					margin: 5px 0 2px;
				}

				p.price{
					color: $green;
					font-weight: 600;
					font-size: em(18);
				}

				.picture{
					text-align: right;
				}

				p.description{
					font-size: em(17);
					line-height: $lh * 1.4;
					margin-bottom: 16px;
				}
			}
		}

		.wish_navigation{
			margin-top: 40px;

			p{
				position: relative;
			}

			a{
				font-family: $tisa;
				font-size: em(14);
				text-transform: uppercase;
				color: $gray30;

				&:before, &:after{
					font-size: em(18);
					text-decoration: none;
					position: absolute;
					top: -2px;
				}
			}

			.prev{

				a{
					padding-left: 16px;
				}

				a:before{
					left: 0;
					content: "<";
				}
			}

			.next{
				float: right;
				text-align: right;

				a{
					padding-right: 16px;
				}

				a:after{
					right: 0;
					content: ">";
				}
			}
		}
	}

	@media screen and (max-width: 767px){

		.content{
			padding: 40px 0;

			aside{
				display: none;
			}

			.heart{
				width: 100%;
				padding-left: 15px;
				clear: both;
				margin-top: 0;

				.current_wish .picture{
					margin-bottom: 12px;
					text-align: left;
				}
			}

			.wish_navigation{

				.prev, .next{
					width: 50%;
				}

				.prev{
					float: left;
				}
			}
		}
	}
}

.wish.add, .wish.edit{

	.container{
		max-width: 600px;
		margin-top: 10px;
	}

	h2{
		font-size: em(24);
		line-height: $lh * 1.4;
		letter-spacing: 0;
	}
}